.main {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    padding: 2em;
    border: 1px solid forestgreen;
}

section {
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
}

section + section + section {
    color: lightcoral;
    text-align: center;
    margin-top: 25px;
}